### dependencies & nationwide FIPS dictionary

In [7]:
import pandas as pd
import geopandas as gpd
import requests
import plotly.express as px
from datetime import datetime

# Global variables for HUD & population etc.
metro_name = 'Atlanta'
wiki_link = 'https://en.wikipedia.org/wiki/List_of_counties_in_Georgia'
starting_year = 2022
county_dict = {
    '13057': 'Cherokee',
    '13063': 'Clayton',
    '13067': 'Cobb',
    '13089': 'DeKalb',
    '13097': 'Douglas',
    '13113': 'Fayette',
    '13117': 'Forsyth',
    '13121': 'Fulton',
    '13135': 'Gwinnett',
    '13151': 'Henry',
    '13247': 'Rockdale'
}

fips_dict = {
    '01': 'Alabama',
    '02': 'Alaska',
    '04': 'Arizona',
    '05': 'Arkansas',
    '06': 'California',
    '08': 'Colorado',
    '09': 'Connecticut',
    '10': 'Delaware',
    '11': 'District of Columbia',
    '12': 'Florida',
    '13': 'Georgia',
    '15': 'Hawaii',
    '16': 'Idaho',
    '17': 'Illinois',
    '18': 'Indiana',
    '19': 'Iowa',
    '20': 'Kansas',
    '21': 'Kentucky',
    '22': 'Louisiana',
    '23': 'Maine',
    '24': 'Maryland',
    '25': 'Massachusetts',
    '26': 'Michigan',
    '27': 'Minnesota',
    '28': 'Mississippi',
    '29': 'Missouri',
    '30': 'Montana',
    '31': 'Nebraska',
    '32': 'Nevada',
    '33': 'New Hampshire',
    '34': 'New Jersey',
    '35': 'New Mexico',
    '36': 'New York',
    '37': 'North Carolina',
    '38': 'North Dakota',
    '39': 'Ohio',
    '40': 'Oklahoma',
    '41': 'Oregon',
    '42': 'Pennsylvania',
    '44': 'Rhode Island',
    '45': 'South Carolina',
    '46': 'South Dakota',
    '47': 'Tennessee',
    '48': 'Texas',
    '49': 'Utah',
    '50': 'Vermont',
    '51': 'Virginia',
    '53': 'Washington',
    '54': 'West Virginia',
    '55': 'Wisconsin',
    '56': 'Wyoming'
}

url = 'https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt'

# Fetch the content from the URL
response = requests.get(url)
response.raise_for_status()  # Check that the request was successful

table = response.text.split('------------    --------------\n')[1]

# Strip leading/trailing whitespace and split by newline
lines = table.strip().split('\n')

# Create a DataFrame from the list of lines
df = pd.DataFrame(lines, columns=['Data'])

# Split the 'Data' column on the first space
df[['FIPS', 'County_name']] = df['Data'].str.split(n=1, expand=True)

# Drop the original 'Data' column
df = df.drop(columns=['Data'])

# Drop rows where 'FIPS' ends with '000'
df = df[~df['FIPS'].str.endswith('000')]

# Extract the first 2 digits from 'FIPS' column
df['State_code'] = df['FIPS'].str[:2]

# Map 'State_code' to 'State' using fips_dict
df['State'] = df['State_code'].map(fips_dict)

# just get the county
df['County_short'] = df['County_name'].apply(lambda x: x.split(' County')[0])

# Drop the 'State_code' column if not needed
df_FIPS = df.drop(columns=['State_code'])

df_Georgia = df_FIPS[df_FIPS['State'] == 'Georgia']

### get population per county

In [8]:
# Read all tables from the page
county_Poptable = pd.read_html(wiki_link, header=0)[2]

county_Poptable = county_Poptable.rename(columns={
    'FIPS code[12]': 'FIPS',
    'Population[15]': 'population'
})

# create the full FIPS code
county_Poptable['FIPS'] = '13' + \
    county_Poptable['FIPS'].astype(str).str.zfill(3)

# pare down the dataframe
county_Poptable = county_Poptable[[
    'County',
    'FIPS',
    'population'
]]

df_pop = pd.merge(
    df_Georgia,
    county_Poptable,
    how='left',
    on='FIPS',
).drop(columns='County_name')

# remove the " County" substring from 'County' column
df_pop['County'] = df_pop['County'].str.replace(' County', '')

df_pop.head()

    FIPS    State County_short    County  population
0  13001  Georgia      Appling   Appling       18457
1  13003  Georgia     Atkinson  Atkinson        8293
2  13005  Georgia        Bacon     Bacon       11124
3  13007  Georgia        Baker     Baker        2743
4  13009  Georgia      Baldwin   Baldwin       43396

### OR...get housing units per county

In [9]:

url = "https://services1.arcgis.com/Ug5xGQbHsD8zuZzM/arcgis/rest/services/ACS 2022 Housing Characteristics GeoSplitJoined/FeatureServer/9/query?outFields=*&where=1%3D1&f=geojson"
url = url.replace(" ", "%20")

gdf = gpd.read_file(url)
gdf = gdf[[
    'GEOID',
    'TotalHU_e22'
]]
df_housingUnits = gdf.rename(columns={
    'TotalHU_e22': 'total_housing_units'
})

df_HUs = pd.merge(
    df_Georgia,
    df_housingUnits,
    how='left',
    left_on='FIPS',
    right_on='GEOID'
).drop(columns='GEOID')

df_HUs.head()

    FIPS      County_name    State County_short  total_housing_units
0  13001   Appling County  Georgia      Appling                 8524
1  13003  Atkinson County  Georgia     Atkinson                 3494
2  13005     Bacon County  Georgia        Bacon                 4807
3  13007     Baker County  Georgia        Baker                 1421
4  13009   Baldwin County  Georgia      Baldwin                20092

### Get SOCDS data, process, terminate series where data ends

In [45]:
# dynamically construct the query parameters for years & counties
current_year = datetime.now().year
year_list = list(range(starting_year, current_year + 1))
year_list_str = '%23'.join(map(str, year_list))
county_list_str = '%23'.join(map(str, county_dict.keys()))


# read in the data; have to get this URL that is generated when you click to download the SOCDS data as a CSV
url = f"https://socds.huduser.gov/permits/output_monthly_csv.odb?outpref=csv&geoval=state&datatype=monthlyP&varlist=1%232%233%234%235%236&yearlist={year_list_str}&statelist=13&msalist=+&cbsalist=+&bppllist=+&cntylist={county_list_str}&COUNTYSUM=YES&COUNTYALL=+&COUNTYGRP=+&STATESUM=+&STATEALL=+&METROSUM=+&METROALL=+&METRO=+&CBSA=+&PLACEGRP=+&CSUMNAME=&JSUMNAME=+&geo=state&chron=monthlyP&_ga=GA1.1.1317611679.1717085682&_ga_YD74G0644V=GS1.1.1717549416.5.0.1717549416.0.0.0&_ga_CSLL4ZEK4L=GS1.1.1717549416.5.0.1717549416.0.0.0&__utmc=200893484&__utma=200893484.1317611679.1717085682.1719969523.1720011864.3&__utmz=200893484.1720011864.3.3.utmcsr%3Dgoogle%7Cutmccn%3D%28organic%29%7Cutmcmd%3Dorganic%7Cutmctr%3D%28not+provided%29&__utmt=1&__utmb=200893484.1.10.1720011864"
df = pd.read_csv(url)

# create a copy once the above script has run (so it dosn't have to re-run each time)
df_ATL = df.copy()

# extract just the county name
df_ATL['county_name'] = df_ATL['Location'].str.split(' County').str[0]

# Create a date column
df_ATL['date'] = pd.to_datetime(df_ATL[['Year', 'Month']].assign(day=1))

# rename values in the 'Series' column
df_ATL['Series'] = df_ATL['Series'].replace({
    'Total Units': 'Total Permits',
    'Units in Single-Family Structures': 'All Single-Family Permits',
    'Units in All Multi-Family Structures': 'All Multi-Family Permits',
    'Units in 2-unit Multi-Family Structures': 'Multi-Family Permits (2 units)',
    'Units in 3- and 4-unit Multi-Family Structures': 'Multi-Family Permits (3-4 units)',
    'Units in 5+ Unit Multi-Family Structures': 'Multi-Family Permits (5+ units)'
})

# merge to get the FIPS code for the permits
df_ATL = pd.merge(
    df_ATL,
    df_pop,
    how='left',
    left_on='county_name',
    right_on='County'
)

# Create 'month_year' column with abbreviated month and year
df_ATL['month_year'] = df_ATL['date'].dt.strftime('%b %Y')

# pare down columns
df_ATL = df_ATL[[
    'county_name',
    'FIPS',
    'population',
    'date',
    'month_year',
    'Series',
    'Permits'
]]

# to see where the data 'stops', we need to group on the month_year first
monthly_permits = df_ATL.groupby('month_year')['Permits'].sum().reset_index()

# select the 'month_year' values that don't have any permit data and remove
months_with_0_permits = monthly_permits[
    monthly_permits['Permits'] == 0]['month_year']

# remove these 0-permit months from consideration
df_ATL = df_ATL[~df_ATL['month_year'].isin(months_with_0_permits)]

print('complete!')
df_ATL[df_ATL['county_name'] == 'Fulton'].tail(5)

complete!

,county_name,FIPS,population,date,month_year,Series,Permits
1717,Fulton,13121,1079105,2024-02-01,Feb 2024,Multi-Family Permits (5+ units),393.0
1718,Fulton,13121,1079105,2024-03-01,Mar 2024,Multi-Family Permits (5+ units),822.0
1719,Fulton,13121,1079105,2024-04-01,Apr 2024,Multi-Family Permits (5+ units),524.0
1720,Fulton,13121,1079105,2024-05-01,May 2024,Multi-Family Permits (5+ units),766.0
1721,Fulton,13121,1079105,2024-06-01,Jun 2024,Multi-Family Permits (5+ units),380.0

### building permits -> CSV

In [42]:
# To aggregate at the metro level, start by calculating the total population
unique_populations = df_ATL[[
    'county_name', 'population']].drop_duplicates()
total_population = unique_populations['population'].sum()

# Aggregate permits for each month and each series
metro_data = df_ATL.groupby(['date', 'Series']).agg(
    {'Permits': 'sum'}).reset_index()
metro_data['county_name'] = 'Metro'
metro_data['FIPS'] = 'n/a'
metro_data['month_year'] = metro_data['date'].dt.strftime('%b %Y')
metro_data['population'] = total_population

# Reorder columns to match the original DataFrame
metro_data = metro_data[[
    'county_name',
    'FIPS',
    'population',
    'date',
    'month_year',
    'Series',
    'Permits'
]]

# Concatenate the metrowide with the original, filtered data
df_final = pd.concat([df_ATL, metro_data], ignore_index=True)

# create the permit ratio (permits per 10k persons)
df_final['permit_ratio_pop'] = (
    df_final['Permits'] / df_final['population']) * 10000

# grab current month and year to be included in filename
today = datetime.today()
formatted_date = today.strftime("%m.%y")

# and then export
df_final.to_csv(
    f'{metro_name}_ResPermits_{formatted_date}.csv', index=False)
print(f'export complete for permits in {formatted_date}!')
df_final.tail(5)

export complete for permits in 08.24!

,county_name,FIPS,population,date,month_year,Series,Permits,permit_ratio_pop
2155,Metro,n/a,5083266,2024-06-01,Jun 2024,All Single-Family Permits,1362.0,2.679380
2156,Metro,n/a,5083266,2024-06-01,Jun 2024,Multi-Family Permits (2 units),10.0,0.019672
2157,Metro,n/a,5083266,2024-06-01,Jun 2024,Multi-Family Permits (3-4 units),31.0,0.060984
2158,Metro,n/a,5083266,2024-06-01,Jun 2024,Multi-Family Permits (5+ units),411.0,0.808535
2159,Metro,n/a,5083266,2024-06-01,Jun 2024,Total Permits,1814.0,3.568572

### line chart viz

In [ ]:
# see where the data 'stops' for a few of the biggest counties; should converge on a single month's data
df_Chart = df_ATL[(df_ATL['Series'] == 'Total Permits') & (
    (df_ATL['county_name'] == 'Gwinnett') |
    (df_ATL['county_name'] == 'Fulton') |
    (df_ATL['county_name'] == 'Cobb') |
    (df_ATL['county_name'] == 'DeKalb') |
    (df_ATL['county_name'] == 'Forsyth')
)]

# create & modify output chart
fig = px.line(
    df_Chart,
    x='date',
    y='Permits',
    color='county_name',
    title='Total Permits by County',
    custom_data=['Permits'],
    labels={
        'county_name': 'County'
    }
)
fig.update_layout({
    'hovermode': "x unified",
    'xaxis_showgrid': False,
    'yaxis_showgrid': False,
    'plot_bgcolor': 'rgba(0,0,0,0)',
    'paper_bgcolor': 'rgba(0,0,0,0)',
    'font_color': 'white',
    'hoverlabel': dict(bgcolor='rgba(115,115,115, 0.9)'),
    'title_x': 0.5,
    'title_xanchor': 'center',
    'title_font_size': 22
})
fig.update_traces(
    hovertemplate="<b>%{customdata[0]}</b><br>"
    "<extra></extra>"
)
fig.show(config={'displayModeBar': False})

### building permits -> Mongo

In [36]:
# define Mongo variables
client = MongoClient(
    "mongodb+srv://wwright:4iSlXfv2K1FFolSz@blog.8xpipab.mongodb.net/")
db = client["ARC_R&A"]
collection = db["Blog"]
document_id = f"BuildingPermits_{formatted_date}"

df_ATL['Series'].unique()

array(['Total Permits', 'All Single-Family Permits',
       'All Multi-Family Permits', 'Multi-Family Permits (2 units)',
       'Multi-Family Permits (3-4 units)',
       'Multi-Family Permits (5+ units)'], dtype=object)